footer{
    height: 50vh;
    width: 100%;
    display: block;
    justify-content: space-around;
    color: #ffffff;
    padding: 10px;
    text-align: left;
    font-size: 16px;


    bottom: 0;
    left: 0;
    z-index: 9999;
}
#affilate{
    color: #f70505;
    text-decoration: none;
}

#quick-link{
    color: #ffffff;
    text-align: left;
  
}

footer{
    height: fit-content;
}

#video-box{
    height:100vh;
    margin: 0;
}

#see-courses{
    transition: 0.2s all ease-in-out;
}

#hero{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
